build
.cache
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
!/Makefile
ext/
lib/pixils/native/
lib/pixils-runner/native/
lib/pixils-test/native/
scratches
examples/tilemap-editor/.recent-projects.edn
cmake_test_discovery*.json
.rooc
.console_history
*.so
*.a