{:name asteroids
 :version "0.1.0"
 :description "Pixils Asteroids example."
 :dependencies {proof "0.1.0"
                pixils-runner {:path "../../lib/pixils-runner"}
                pixils-test {:path "../../lib/pixils-test"}}
 :load-roots ["src"]
 :namespace-roots {asteroids "src"}
 :config {proof {:test-roots ["test"]}}
 :entry-points [asteroids.core]}
