{:name workbench
 :version "0.1.0"
 :description "Pixils Workbench example."
 :dependencies {proof "0.1.0"
                pixils-runner {:path "../../lib/pixils-runner"}
                pixils-test {:path "../../lib/pixils-test"}}
 :load-roots ["src"]
 :namespace-roots {workbench ["src" "test"]}
 :config {proof {:test-roots ["test"]}}
 :entry-points [workbench.core]}
