{:name pixils
 :version "0.1.0"
 :description "Pixils Roo runtime and UI package."
 :dependencies []
 :load-roots ["lisp"]
 :namespace-roots {pixils.ui "lisp/ui"
                   pixils.ui.theme "lisp/ui/themes"}
 :native-libraries [{:name "pixils-native"
                     :version "0.1.0"
                     :path "native"
                     :namespaces [pixils
                                  pixils.resource
                                  pixils.audio
                                  pixils.clipboard
                                  pixils.color
                                  pixils.image
                                  pixils.keyboard
                                  pixils.line
                                  pixils.point
                                  pixils.polygon
                                  pixils.rect
                                  pixils.render
                                  pixils.state.counter
                                  pixils.ui.style
                                  pixils.ui]}]
 :entry-points []
 :test-entry-points []}
