{:name pixils-tests
 :version "0.1.0"
 :dependencies {pixils {:path "../.."}
                pixils-test {:path "../../../pixils-test"}
                proof "0.1.0"}
 :load-roots ["test" "../assets/roo"]
 :config {proof {:test-roots ["test"]}}}
