{:name pixils-tilemap
 :version "0.1.0"
 :description "Pixils tilemap runtime model and renderer."
 :dependencies {pixils "0.1.0"
                proof "0.1.0"}
 :load-roots ["src"]
 :native-libraries [{:name "pixils-tilemap-native"
                     :version "0.1.0"
                     :path "native"
                     :namespaces [pixils.tilemap.render-impl
                                  pixils.tilemap.materialize-impl]}]
 :namespace-roots {pixils.tilemap ["src" "test"]}
 :config {proof {:test-roots ["test"]}}
 :entry-points []
 :test-entry-points []}
