{:name minesweeper
 :version "0.1.0"
 :description "Pixils Minesweeper example."
 :dependencies {proof {:path "../../../lisple-lang/pkg/proof"}
                pixils-runner {:path "../../lib/pixils-runner"}
                pixils-test {:path "../../lib/pixils-test"}}
 :load-roots ["src"]
 :namespace-roots {pixils.examples.minesweeper "src"}
 :config {proof {:test-roots ["test"]}}
 :entry-points [pixils.examples.minesweeper.core]}
